In [1]:
import pandas as pd, numpy as np,xarray as xr
from pathlib import Path
import re, yaml, copy, json
from helper import singleglob, Waveform, json_merge

In [2]:
base = Path("/home/julienb/Documents/database_scripts/database_scripts_test/poly_dat_files/Rats/Test_Julien_ForcedInput/")

# base = Path("/home/julienb/Documents/database_scripts/database_scripts_test/poly_dat_files/Rats/Luisa/Rat101_0729_opto_01")
dat_path = singleglob(base, "*.dat")
task_path = singleglob(base, "*.xls")
info_path = singleglob(base, "*.yaml", search_upward_limit=Path("/home/julienb/Documents/database_scripts/database_scripts_test/poly_dat_files"))
res_events_path = base/"events.tsv"
exists = {"dat_path":dat_path.exists(), "task_path":task_path.exists(), "info_path": info_path.exists()}
if not np.all(list(exists.values())):
    display(exists)
    raise Exception("Missing some input files...")
info_path

PosixPath('/home/julienb/Documents/database_scripts/database_scripts_test/poly_dat_files/Rats/rat_model.yaml')

In [3]:
event_df = pd.read_csv(dat_path, sep="\t", names=['time (ms)', 'family', 'nbre', '_P', '_V', '_L', '_R', '_T', '_W', '_X', '_Y', '_Z'], skiprows=13, dtype=int)
event_df.insert(0, "t", event_df.pop("time (ms)")/1000)
event_df = event_df.reset_index(names="poly_evnum").sort_values(["t", "poly_evnum"]).reset_index(drop=True)
event_df["task_node"] = event_df["_T"].where(event_df["family"]==10).ffill()
print(event_df.to_string())

     poly_evnum        t  family  nbre  _P  _V  _L  _R  _T   _W  _X   _Y  _Z  task_node
0             0    0.007      10     1   1   1   0   0   1    0   0    0   0        1.0
1             1    0.022      10     1   1   1   0   0   2    0   0    0   0        2.0
2             2    0.023       1     4   0   0   0   0   0    0   0    0   0        2.0
3             3   14.534       5     1   1   0   1   1   1    0   0    0   0        2.0
4             4   19.892       5     1   0   1   1   0   1    1   0    0   1        2.0
5             5   19.892       5     1   0   1   1   0   1    1   0    0   1        2.0
6             6   21.589       5     1   0   0   1   0   1   11   0   10   1        2.0
7             7   22.733       5     1   0   1   1   0   1   12   0   11   1        2.0
8             8   26.444       5     1   0   0   1   0   1   35   0   34   1        2.0
9             9   28.556       5     1   0   1   1   0   1   36   0   35   1        2.0
10           10   32.797       5     1   0   0   1   0   1   63   0   62   1        2.0
11           11   35.517       5     1   0   1   1   0   1   64   0   63   1        2.0
12           12   38.100       5     1   0   0   1   0   1   80   0   79   1        2.0
13           13   43.116       5     1   0   1   1   0   1   81   0   80   1        2.0
14           14   45.076       5     1   0   0   1   0   1   93   0   92   1        2.0
15           15   49.100       5     1   0   1   1   0   1   94   0   93   1        2.0
16           16   51.260       5     1   0   0   1   0   1  107   0  106   1        2.0
17           17   53.460       5     1   0   1   1   0   1  108   0  107   1        2.0
18           18   55.540       5     1   0   0   1   0   1  120   0  119   1        2.0
19           19   57.092       5     1   0   1   1   0   1  121   0  120   1        2.0
20           20   58.940       5     1   0   0   1   0   1  132   0  131   1        2.0
21           21   68.734      10     9   0   0   0   0   1    0   0    0   0        1.0
22           22   68.734      10     9   0   0   0   0   1    0   0    0   0        1.0
23           23   86.176       9     1   0   0   0   0   0    0   0    0   0        1.0
24           24   91.454       2     2   0   1   1   0   1    5   1    0   0        1.0
25           25   91.454      10     1   1   1   0   0  22    0   0    0   0       22.0
26           26   91.455       1     4   1   1   1   0   2    0   0    0   0       22.0
27           27   91.455       1     3   1   1   1   0   2    0   0    0   0       22.0
28           28   91.455       1     2   1   1   1   0   4    0   0    0   0       22.0
29           29   91.558       2     2   0   0   0   0   1    0   1    0   0       22.0
30           30   97.454      10     1   1   1   0   0  13    0   0    0   0       13.0
31           31   97.454       1     4   0   0   0   0   2    0   0    0   0       13.0
32           32   97.454       1     3   0   0   0   0   2    0   0    0   0       13.0
33           33   97.454       1     2   0   0   0   0   4    0   0    0   0       13.0
34           34   97.954      10     1   1   1   0   0   2    0   0    0   0        2.0
35           35   97.954       1     4   0   0   0   0   2    0   0    0   0        2.0
36           36   98.631       2     2   0   1   1   0   2    5   2    0   0        2.0
37           37   98.631      10     1   1   1   0   0  22    0   0    0   0       22.0
38           38   98.631       1     4   1   1   1   0   3    0   0    0   0       22.0
39           39   98.631       1     3   1   1   1   0   3    0   0    0   0       22.0
40           40   98.631       1     2   1   1   1   0   5    0   0    0   0       22.0
41           41   98.701       2     2   0   0   0   0   2    0   2    0   0       22.0
42           42  104.631      10     1   1   1   0   0  13    0   0    0   0       13.0
43           43  104.631       1     4   0   0   0   0   3    0   0    0   0       13.0
44           44  104.631       1     3   0   0   0   0   3    0   0    0   0       13.0
45           45  104.631       1     2   0   0   0   0   5    0   0    0   0       13.0
46           46  105.131      10     1   1   1   0   0   2    0   0    0   0        2.0
47           47  105.131       1     4   0   0   0   0   3    0   0    0   0        2.0
48           48  105.846       2     1   0   1   1   0   1    5   1    0   0        2.0
49           49  105.846      10     1   1   1   0   0  16    0   0    0   0       16.0
50           50  105.847       1     4   1   1   1   0   4    0   0    0   0       16.0
51           51  105.847       1     3   1   1   1   0   4    0   0    0   0       16.0
52           52  105.847       1     2   1   1   1   0   6    0   0    0   0       16.0
53           53  105.941       2     1   0   0   0   0   1    0   1    0   0       16.0
54           54  109.149       2     1   0   1   1   0   2    5   2    0   0       16.0
55           55  109.269       2     1   0   0   1   0   2    0   2    0   0       16.0
56           56  109.725       2     1   0   1   2   0   3    5   3    0   0       16.0
57           57  109.829       2     1   0   0   2   0   3    0   3    0   0       16.0
58           58  110.269       2     1   0   1   3   0   4    5   4    0   0       16.0
59           59  110.389       2     1   0   0   3   0   4    0   4    0   0       16.0
60           60  111.229       2     1   0   1   4   0   5    5   5    0   0       16.0
61           61  111.333       2     1   0   0   4   0   5    0   5    0   0       16.0
62           62  111.846      10     1   1   1   0   0  13    0   0    0   0       13.0
63           63  111.846       1     4   0   0   0   0   4    0   0    0   0       13.0
64           64  111.846       1     3   0   0   0   0   4    0   0    0   0       13.0
65           65  111.846       1     2   0   0   0   0   6    0   0    0   0       13.0
66           66  112.341       2     1   0   1   1   0   6    5   6    0   0       13.0
67           67  112.346      10     1   1   1   0   0   2    0   0    0   0        2.0
68           68  112.346       1     4   0   0   0   0   4    0   0    0   0        2.0
69           69  112.461       2     1   0   0   0   0   6    0   6    0   0        2.0
70           70  112.965       2     1   0   1   1   0   7    5   7    0   0        2.0
71           71  112.965      10     1   1   1   0   0  16    0   0    0   0       16.0
72           72  112.965       1     4   1   1   1   0   5    0   0    0   0       16.0
73           73  112.965       1     3   1   1   1   0   5    0   0    0   0       16.0
74           74  112.965       1     2   1   1   1   0   7    0   0    0   0       16.0
75           75  113.101       2     1   0   0   0   0   7    0   7    0   0       16.0
76           76  118.965      10     1   1   1   0   0  13    0   0    0   0       13.0
77           77  118.965       1     4   0   0   0   0   5    0   0    0   0       13.0
78           78  118.965       1     3   0   0   0   0   5    0   0    0   0       13.0
79           79  118.965       1     2   0   0   0   0   7    0   0    0   0       13.0
80           80  119.465      10     1   1   1   0   0   2    0   0    0   0        2.0
81           81  119.465       1     4   0   0   0   0   5    0   0    0   0        2.0
82           82  131.347       9     1   0   0   0   0   1    0   1    2   1        2.0
83           83  131.347       9     0   0   0   0   0   1    0   1    2   1        2.0
84           84  132.741       9     1   0   0   0   0   2    0   1    1   1        2.0
85           85  134.229       9     1   0   0   0   0   3    0   1    1   1        2.0
86           86  135.557       9     1   0   0   0   0   4    0   1    1   1        2.0
87           87  136.709       9     1   0   0   0   0   5    0   1    1   1        2.0
88           88  137.309       9     1   0   0   0   0   6    0   1    2   1        2.0
89           89  138.629       9     1   0   0   0   0   7    0   1    2   1        2.0
90           90  139.789       9     1   0   0   0   0   8    0   1    2   1        2.0
91           91  140.189       9     1   0   0   0   0   9    0   1    1   1        2.0
92           92  142.278       9     1   0   0   0   0   9    0   0    0   0        2.0
93           93  144.278       9     1   1   0   0   0   9    0   0    0   0        2.0
94           94  152.509       6    22   0   1   0   0   1    0   0    1   2        2.0
95           95  152.893       6    22   0   0   0   0   1    0   0    1   0        2.0
96           96  155.389       6    22   1   0   0   0   2    0   1    1   1        2.0
97           97  162.325       6    22   1   1   1   0   3    1   1    2   3        2.0
98           98  162.325      10     1   1   1   0   0   3    0   0    0   0        3.0
99           99  162.325       1     4   1   1   1   0   6    0   0    0   0        3.0
100         100  162.629       6    22   1   0   0   0   3    1   1    2   1        3.0
101         101  162.629      10     1   1   1   0   0   2    0   0    0   0        2.0
102         102  162.629       1     4   0   0   0   0   6    0   0    0   0        2.0
103         103  163.268       6    22   1   1   1   0   4    2   1    3   3        2.0
104         104  163.269      10     1   1   1   0   0   3    0   0    0   0        3.0
105         105  163.269       1     4   1   1   1   0   7    0   0    0   0        3.0
106         106  164.281      10     1   1   1   0   0   4    0   0    0   0        4.0
107         107  164.290      10     1   1   1   0   0   5    0   0    0   0        5.0
108         108  164.297      15     5   1   1   1   0   1    0   0    0   0        5.0
109         109  164.297      15     3   1   1   1   0   1    0   0    0   0        5.0
110         110  164.297      15     1   1   1   1   0   1    0   0    0   0        5.0
111         111  164.297       6    20   1   1   1   0   1    0   0    0   0        5.0
112         112  164.297       1     4   0   0   0   0   7    0   0    0   0        5.0
113         113  164.297       1     2   1   1   1   0   8    0   0    0   0        5.0
114         114  164.347       6    20   0   0   1   0   1    0   0    0   0        5.0
115         115  164.347       1     2   0   0   1   0   8    0   0    0   0        5.0
116         116  164.392      15     5   0   0   1   0   1    0   0    0   0        5.0
117         117  164.392      15     3   0   0   1   0   1    0   0    0   0        5.0
118         118  164.392      15     1   0   0   1   0   1    0   0    0   0        5.0
119         119  166.290      10     1   1   1   0   0  12    0   0    0   0       12.0
120         120  166.290       1     4   1   1   1   0   8    0   0    0   0       12.0
121         121  166.290       1     3   1   1   1   0   6    0   0    0   0       12.0
122         122  166.290       1     2   1   1   1   0   9    0   0    0   0       12.0
123         123  166.363       2     2   0   1   1   0   3    5   3    0   0       12.0
124         124  166.405       2     2   0   0   1   0   3    0   3    0   0       12.0
125         125  172.290      10     1   1   1   0   0  13    0   0    0   0       13.0
126         126  172.290       1     4   0   0   0   0   8    0   0    0   0       13.0
127         127  172.290       1     3   0   0   0   0   6    0   0    0   0       13.0
128         128  172.290       1     2   0   0   0   0   9    0   0    0   0       13.0
129         129  172.790      10     1   1   1   0   0   2    0   0    0   0        2.0
130         130  172.790      10     1   1   1   0   0   3    0   0    0   0        3.0
131         131  172.790       1     4   0   0   0   0   8    0   0    0   0        3.0
132         132  172.790       1     4   1   1   1   0   9    0   0    0   0        3.0
133         133  173.244      10     1   1   1   0   0   4    0   0    0   0        4.0
134         134  173.253      10     1   1   1   0   0   8    0   0    0   0        8.0
135         135  173.255      15     5   1   1   1   0   2    0   0    0   0        8.0
136         136  173.255      15     3   1   1   1   0   2    0   0    0   0        8.0
137         137  173.255      15     1   1   1   1   0   2    0   0    0   0        8.0
138         138  173.255       6    20   1   1   1   0   2    0   0    0   0        8.0
139         139  173.255       1     4   0   0   0   0   9    0   0    0   0        8.0
140         140  173.255       1     3   1   1   1   0   7    0   0    0   0        8.0
141         141  173.304       6    20   0   0   1   0   2    0   0    0   0        8.0
142         142  173.304       1     3   0   0   1   0   7    0   0    0   0        8.0
143         143  173.355      15     1   0   0   1   0   2    0   0    0   0        8.0
144         144  173.405      15     5   0   0   2   0   3    0   0    0   0        8.0
145         145  173.405      15     3   0   0   2   0   3    0   0    0   0        8.0
146         146  175.253      10     1   1   1   0   0  15    0   0    0   0       15.0
147         147  175.253       1     4   1   1   1   0  10    0   0    0   0       15.0
148         148  175.253       1     3   1   1   1   0   8    0   0    0   0       15.0
149         149  175.253       1     2   1   1   1   0  10    0   0    0   0       15.0
150         150  181.253      10     1   1   1   0   0  13    0   0    0   0       13.0
151         151  181.253       1     4   0   0   0   0  10    0   0    0   0       13.0
152         152  181.253       1     3   0   0   0   0   8    0   0    0   0       13.0
153         153  181.253       1     2   0   0   0   0  10    0   0    0   0       13.0
154         154  181.753      10     1   1   1   0   0   2    0   0    0   0        2.0
155         155  181.753      10     1   1   1   0   0   3    0   0    0   0        3.0
156         156  181.753       1     4   0   0   0   0  10    0   0    0   0        3.0
157         157  181.753       1     4   1   1   1   0  11    0   0    0   0        3.0
158         158  182.882      10     1   1   1   0   0   4    0   0    0   0        4.0
159         159  182.891      10     1   1   1   0   0   8    0   0    0   0        8.0
160         160  182.892      15     5   1   1   1   0   4    0   0    0   0        8.0
161         161  182.892      15     3   1   1   1   0   4    0   0    0   0        8.0
162         162  182.892      15     1   1   1   1   0   3    0   0    0   0        8.0
163         163  182.892       6    20   1   1   1   0   3    0   0    0   0        8.0
164         164  182.892       1     4   0   0   0   0  11    0   0    0   0        8.0
165         165  182.892       1     3   1   1   1   0   9    0   0    0   0        8.0
166         166  182.942       6    20   0   0   1   0   3    0   0    0   0        8.0
167         167  182.942       1     3   0   0   1   0   9    0   0    0   0        8.0
168         168  182.993      15     1   0   0   1   0   3    0   0    0   0        8.0
169         169  183.043      15     5   0   0   2   0   5    0   0    0   0        8.0
170         170  183.043      15     3   0   0   2   0   5    0   0    0   0        8.0
171         171  183.965       6    22   0   0   0   0   4    2   1    3   3        8.0
172         172  183.965      10     1   1   1   0   0  21    0   0    0   0       21.0
173         173  183.965       1     4   1   1   1   0  12    0   0    0   0       21.0
174         174  183.965       1     3   1   1   1   0  10    0   0    0   0       21.0
175         175  183.965       1     2   1   1   1   0  11    0   0    0   0       21.0
176         176  186.237       6    22   1   1   1   0   6    3   2    4   3       21.0
177         177  188.060       6    22   1   0   0   0   6    3   2    4   1       21.0
178         178  189.965      10     1   1   1   0   0  13    0   0    0   0       13.0
179         179  189.965       1     4   0   0   0   0  12    0   0    0   0       13.0
180         180  189.965       1     3   0   0   0   0  10    0   0    0   0       13.0
181         181  189.965       1     2   0   0   0   0  11    0   0    0   0       13.0
182         182  190.465      10     1   1   1   0   0   2    0   0    0   0        2.0
183         183  190.465       1     4   0   0   0   0  12    0   0    0   0        2.0
184         184  192.220       6    22   1   1   1   0   7    4   2    5   3        2.0
185         185  192.220      10     1   1   1   0   0   3    0   0    0   0        3.0
186         186  192.220       1     4   1   1   1   0  13    0   0    0   0        3.0
187         187  193.257      10     1   1   1   0   0   4    0   0    0   0        4.0
188         188  193.266      10     1   1   1   0   0   5    0   0    0   0        5.0
189         189  193.267      15     5   1   1   1   0   6    0   0    0   0        5.0
190         190  193.267      15     3   1   1   1   0   6    0   0    0   0        5.0
191         191  193.267      15     1   1   1   1   0   4    0   0    0   0        5.0
192         192  193.267       6    20   1   1   1   0   4    0   0    0   0        5.0
193         193  193.267       1     4   0   0   0   0  13    0   0    0   0        5.0
194         194  193.267       1     2   1   1   1   0  12    0   0    0   0        5.0
195         195  193.317       6    20   0   0   1   0   4    0   0    0   0        5.0
196         196  193.317       1     2   0   0   1   0  12    0   0    0   0        5.0
197         197  193.368      15     5   0   0   1   0   6    0   0    0   0        5.0
198         198  193.368      15     3   0   0   1   0   6    0   0    0   0        5.0
199         199  193.368      15     1   0   0   1   0   4    0   0    0   0        5.0
200         200  194.876       6    22   1   0   0   0   7    4   2    5   1        5.0
201         201  194.876      10     1   1   1   0   0  20    0   0    0   0       20.0
202         202  194.876       1     4   1   1   1   0  14    0   0    0   0       20.0
203         203  194.876       1     3   1   1   1   0  11    0   0    0   0       20.0
204         204  194.876       1     2   1   1   1   0  13    0   0    0   0       20.0
205         205  200.190       9     1   1   0   0   0   9    0   0    0   0       20.0
206         206  200.876      10     1   1   1   0   0  13    0   0    0   0       13.0
207         207  200.876       1     4   0   0   0   0  14    0   0    0   0       13.0
208         208  200.876       1     3   0   0   0   0  11    0   0    0   0       13.0
209         209  200.876       1     2   0   0   0   0  13    0   0    0   0       13.0
210         210  201.376      10     1   1   1   0   0   2    0   0    0   0        2.0
211         211  201.376       1     4   0   0   0   0  14    0   0    0   0        2.0
212         212  222.040       6    22   1   1   1   0   8    5   2    6   3        2.0
213         213  222.041      10     1   1   1   0   0   3    0   0    0   0        3.0
214         214  222.041       1     4   1   1   1   0  15    0   0    0   0        3.0
215         215  223.116      10     1   1   1   0   0   4    0   0    0   0        4.0
216         216  223.125      10     1   1   1   0   0   5    0   0    0   0        5.0
217         217  223.126      15     5   1   1   1   0   7    0   0    0   0        5.0
218         218  223.126      15     3   1   1   1   0   7    0   0    0   0        5.0
219         219  223.126      15     1   1   1   1   0   5    0   0    0   0        5.0
220         220  223.126       6    20   1   1   1   0   5    0   0    0   0        5.0
221         221  223.126       1     4   0   0   0   0  15    0   0    0   0        5.0
222         222  223.127       1     2   1   1   1   0  14    0   0    0   0        5.0
223         223  223.176       6    20   0   0   1   0   5    0   0    0   0        5.0
224         224  223.176       1     2   0   0   1   0  14    0   0    0   0        5.0
225         225  223.227      15     5   0   0   1   0   7    0   0    0   0        5.0

In [4]:
task_df = pd.read_csv(task_path, sep="\t", header=11)
task_df = task_df.rename(columns={task_df.columns[0]: "task_node" })
display(task_df.columns)
task_df

Index(['task_node', 'T1', 'T2', 'T3', 'T4', 'LED1(1,2)', 'LED2(1,3)',
       'LED3(1,4)', 'L1(2,1)', 'L2(2,2)', 'LK1(5,1)', 'LK2(5,2)', 'RD(6,11)',
       'ASND(6,20)', 'PAD(6,22)', 'STR1(13,1)', 'STR2(13,2)', 'TTLP1(15,1)',
       'TTLP2(15,2)', 'TTLP3(15,3)', 'TTLP4(15,4)', 'TTLP5(15,5)',
       'TTLP6(15,6)', 'TTLP7(15,7)', 'TTLP8(15,8)', 'NEXT1', 'NEXT2', 'NEXT3',
       'CT1', 'CT2'],
      dtype='object')

,task_node,T1,T2,T3,T4,"LED1(1,2)","LED2(1,3)","LED3(1,4)","L1(2,1)","L2(2,2)",...,"TTLP4(15,4)","TTLP5(15,5)","TTLP6(15,6)","TTLP7(15,7)","TTLP8(15,8)",NEXT1,NEXT2,NEXT3,CT1,CT2
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,!ti,NaN,NaN,NaN,NaN
2,2.0,_essais,NaN,NaN,NaN,NaN,NaN,!on,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,PAD_L=1,L1_L=1(16),L2_L=1(22),NaN,NaN
3,3.0,400-1200,_ITI,NaN,NaN,NaN,NaN,on,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,!ti,PAD_L=0(2),NaN,NaN,NaN
4,4.0,0-20,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,!TJ.TI,!TJ.!TI(8),PAD_L=0(2),NaN,NaN
5,5.0,2000_RT,NaN,NaN,NaN,on(50),NaN,!on,NaN,NaN,...,NaN,"ON(100,1,1)",NaN,NaN,NaN,PAD_P=0.PAD_V=1.ti,!TI(12),PAD_V=0.ti(20),CTT+1,NaN
6,6.0,3500_MT,_RT1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,L1_L=1.PAD_P=0.PAD_V=1.ti,!TI(17),L2_L=1(14),NaN,NaN
7,7.0,300,_MT1,NaN,NaN,!on,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,LK1_P=0.!ti.LK1_V=0(11),NaN,NaN,CTX+1,NaN
8,8.0,2000_RT,NaN,NaN,NaN,NaN,on(50),!on,NaN,NaN,...,NaN,"ON(50,50,2)",NaN,NaN,NaN,PAD_V=0.PAD_P=1.ti,!TI(15),PAD_P=0.ti(21),CTT+1,NaN
9,9.0,3500_MT,_RT2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,L2_L=1.PAD_V=0.PAD_P=1.ti,!TI(19),L1_L=1(18),NaN,NaN
10,10.0,300,_MT2,NaN,NaN,NaN,!on,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,LK1_P=0.!ti.LK1_V=0,NaN,NaN,CTY+1,NaN
11,11.0,500,NaN,NaN,NaN,!on,!on,!on,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,!ti(2),NaN,NaN,NaN,NaN
12,12.0,6000_erreur,_CutOfRT1,NaN,NaN,on,on,on,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,!ti,NaN,NaN,NaN,NaN
13,13.0,500,NaN,NaN,NaN,!on,!on,!on,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,!ti(2),NaN,NaN,NaN,NaN
14,14.0,6000_erreur,_MT3,NaN,NaN,on,on,on,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,!ti(13),NaN,NaN,CTW+1,NaN
15,15.0,6000_erreur,_CutOfRT2,NaN,NaN,on,on,on,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,!ti(13),NaN,NaN,NaN,NaN
16,16.0,6000_erreur,_AnticipL1,NaN,NaN,on,on,on,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,!ti(13),NaN,NaN,CTA+1,NaN
17,17.0,6000_erreur,_CutOfMT1,NaN,NaN,on,on,on,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,!ti(13),NaN,NaN,CTI+1,NaN
18,18.0,6000_erreur,_MT4,NaN,NaN,on,on,on,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,!ti(13),NaN,NaN,CTZ+1,NaN
19,19.0,6000_erreur,_CutOfMT2,NaN,NaN,on,on,on,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,!ti(13),NaN,NaN,CTO+1,NaN
20,20.0,6000_erreur,_RT3,NaN,NaN,on,on,on,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,!ti(13),NaN,NaN,CTG+1,NaN
21,21.0,6000_erreur,_RT4,NaN,NaN,on,on,on,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,!ti(13),NaN,NaN,CTF+1,NaN
22,22.0,6000_erreur,_AnticipL2,NaN,NaN,on,on,on,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,!ti(13),NaN,NaN,CTA+1,NaN
23,23.0,6000_erreur,_BadL1,NaN,NaN,on,on,on,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,24.0,6000_erreur,_BadL2,NaN,NaN,on,on,on,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:


channels = pd.Series(task_df.columns).str.extract(r'\s*(?P<channel_name>\w+)\s*\((?P<family>\d+)\s*,\s*(?P<nbre>\d+)\)\s*').assign(taskcol_name=task_df.columns).dropna(how="any")
channels["family"] = channels["family"].astype(int)
channels["nbre"] = channels["nbre"].astype(int)
channels

   channel_name  family  nbre taskcol_name
5          LED1       1     2    LED1(1,2)
6          LED2       1     3    LED2(1,3)
7          LED3       1     4    LED3(1,4)
8            L1       2     1      L1(2,1)
9            L2       2     2      L2(2,2)
10          LK1       5     1     LK1(5,1)
11          LK2       5     2     LK2(5,2)
12           RD       6    11     RD(6,11)
13         ASND       6    20   ASND(6,20)
14          PAD       6    22    PAD(6,22)
15         STR1      13     1   STR1(13,1)
16         STR2      13     2   STR2(13,2)
17        TTLP1      15     1  TTLP1(15,1)
18        TTLP2      15     2  TTLP2(15,2)
19        TTLP3      15     3  TTLP3(15,3)
20        TTLP4      15     4  TTLP4(15,4)
21        TTLP5      15     5  TTLP5(15,5)
22        TTLP6      15     6  TTLP6(15,6)
23        TTLP7      15     7  TTLP7(15,7)
24        TTLP8      15     8  TTLP8(15,8)

In [6]:
pattern=r'on\(\d+(,\d+)*\)'
task_info=pd.DataFrame()
stacked = task_df.set_index("task_node")[channels["taskcol_name"].to_list()].stack().str.lower().str.strip().dropna()
stacked.index.names=["task_node", "taskcol_name"]
task_info["data"] = stacked
task_info["match"] = task_info["data"].str.fullmatch(pattern)
task_info = task_info.loc[task_info["match"]]
task_info["important"] = task_info["data"].str.slice(3, -1)
task_info["task_params"] = task_info["important"].str.split(",").apply(lambda l: [float(x) for x in l])
task_info = task_info.drop(columns=["important", "match", "data"]).join(stacked.rename("task_data"), how="outer")
task_info = task_info.reset_index() 
task_info["task_node"] = task_info["task_node"].astype(float)
task_info

    task_node taskcol_name                     task_params           task_data
0         2.0    LED3(1,4)                             NaN                 !on
1         3.0    LED3(1,4)                             NaN                  on
2         5.0   ASND(6,20)  [50.0, 1.0, 1.0, 30.0, 1000.0]  on(50,1,1,30,1000)
3         5.0    LED1(1,2)                          [50.0]              on(50)
4         5.0    LED3(1,4)                             NaN                 !on
5         5.0  TTLP1(15,1)               [100.0, 1.0, 1.0]         on(100,1,1)
6         5.0  TTLP3(15,3)               [100.0, 1.0, 1.0]         on(100,1,1)
7         5.0  TTLP5(15,5)               [100.0, 1.0, 1.0]         on(100,1,1)
8         7.0    LED1(1,2)                             NaN                 !on
9         7.0     LK1(5,1)                           [1.0]               on(1)
10        8.0   ASND(6,20)  [50.0, 1.0, 1.0, 30.0, 5000.0]  on(50,1,1,30,5000)
11        8.0    LED2(1,3)                          [50.0]              on(50)
12        8.0    LED3(1,4)                             NaN                 !on
13        8.0  TTLP1(15,1)               [100.0, 1.0, 1.0]         on(100,1,1)
14        8.0  TTLP3(15,3)               [50.0, 50.0, 2.0]         on(50,50,2)
15        8.0  TTLP5(15,5)               [50.0, 50.0, 2.0]         on(50,50,2)
16       10.0    LED2(1,3)                             NaN                 !on
17       10.0     LK1(5,1)                           [1.0]               on(1)
18       11.0    LED1(1,2)                             NaN                 !on
19       11.0    LED2(1,3)                             NaN                 !on
20       11.0    LED3(1,4)                             NaN                 !on
21       12.0    LED1(1,2)                             NaN                  on
22       12.0    LED2(1,3)                             NaN                  on
23       12.0    LED3(1,4)                             NaN                  on
24       13.0    LED1(1,2)                             NaN                 !on
25       13.0    LED2(1,3)                             NaN                 !on
26       13.0    LED3(1,4)                             NaN                 !on
27       14.0    LED1(1,2)                             NaN                  on
28       14.0    LED2(1,3)                             NaN                  on
29       14.0    LED3(1,4)                             NaN                  on
30       15.0    LED1(1,2)                             NaN                  on
31       15.0    LED2(1,3)                             NaN                  on
32       15.0    LED3(1,4)                             NaN                  on
33       16.0    LED1(1,2)                             NaN                  on
34       16.0    LED2(1,3)                             NaN                  on
35       16.0    LED3(1,4)                             NaN                  on
36       17.0    LED1(1,2)                             NaN                  on
37       17.0    LED2(1,3)                             NaN                  on
38       17.0    LED3(1,4)                             NaN                  on
39       18.0    LED1(1,2)                             NaN                  on
40       18.0    LED2(1,3)                             NaN                  on
41       18.0    LED3(1,4)                             NaN                  on
42       19.0    LED1(1,2)                             NaN                  on
43       19.0    LED2(1,3)                             NaN                  on
44       19.0    LED3(1,4)                             NaN                  on
45       20.0    LED1(1,2)                             NaN                  on
46       20.0    LED2(1,3)                             NaN                  on
47       20.0    LED3(1,4)                             NaN                  on
48       21.0    LED1(1,2)                             NaN                  on
49       21.0    LED2(1,3)                             NaN                  on
50       21.0    LED3(1,4)                             NaN                  on
51       22.0    LED1(1,2)                             NaN                  on
52       22.0    LED2(1,3)                             NaN                  on
53       22.0    LED3(1,4)                             NaN                  on
54       23.0    LED1(1,2)                             NaN                  on
55       23.0    LED2(1,3)                             NaN                  on
56       23.0    LED3(1,4)                             NaN                  on
57       24.0    LED1(1,2)                             NaN                  on
58       24.0    LED2(1,3)                             NaN                  on
59       24.0    LED3(1,4)                             NaN                  on

In [7]:
event_channels_df = channels.merge(event_df, on=["family", "nbre"], how="right").merge(task_info, on=["taskcol_name", "task_node"], how="left").sort_values("t")
print(event_channels_df.to_string())

    channel_name  family  nbre taskcol_name  poly_evnum        t  _P  _V  _L  _R  _T   _W  _X   _Y  _Z  task_node                     task_params           task_data
0            NaN      10     1          NaN           0    0.007   1   1   0   0   1    0   0    0   0        1.0                             NaN                 NaN
1            NaN      10     1          NaN           1    0.022   1   1   0   0   2    0   0    0   0        2.0                             NaN                 NaN
2           LED3       1     4    LED3(1,4)           2    0.023   0   0   0   0   0    0   0    0   0        2.0                             NaN                 !on
3            LK1       5     1     LK1(5,1)           3   14.534   1   0   1   1   1    0   0    0   0        2.0                             NaN                 NaN
4            LK1       5     1     LK1(5,1)           4   19.892   0   1   1   0   1    1   0    0   1        2.0                             NaN                 NaN
5            LK1       5     1     LK1(5,1)           5   19.892   0   1   1   0   1    1   0    0   1        2.0                             NaN                 NaN
6            LK1       5     1     LK1(5,1)           6   21.589   0   0   1   0   1   11   0   10   1        2.0                             NaN                 NaN
7            LK1       5     1     LK1(5,1)           7   22.733   0   1   1   0   1   12   0   11   1        2.0                             NaN                 NaN
8            LK1       5     1     LK1(5,1)           8   26.444   0   0   1   0   1   35   0   34   1        2.0                             NaN                 NaN
9            LK1       5     1     LK1(5,1)           9   28.556   0   1   1   0   1   36   0   35   1        2.0                             NaN                 NaN
10           LK1       5     1     LK1(5,1)          10   32.797   0   0   1   0   1   63   0   62   1        2.0                             NaN                 NaN
11           LK1       5     1     LK1(5,1)          11   35.517   0   1   1   0   1   64   0   63   1        2.0                             NaN                 NaN
12           LK1       5     1     LK1(5,1)          12   38.100   0   0   1   0   1   80   0   79   1        2.0                             NaN                 NaN
13           LK1       5     1     LK1(5,1)          13   43.116   0   1   1   0   1   81   0   80   1        2.0                             NaN                 NaN
14           LK1       5     1     LK1(5,1)          14   45.076   0   0   1   0   1   93   0   92   1        2.0                             NaN                 NaN
15           LK1       5     1     LK1(5,1)          15   49.100   0   1   1   0   1   94   0   93   1        2.0                             NaN                 NaN
16           LK1       5     1     LK1(5,1)          16   51.260   0   0   1   0   1  107   0  106   1        2.0                             NaN                 NaN
17           LK1       5     1     LK1(5,1)          17   53.460   0   1   1   0   1  108   0  107   1        2.0                             NaN                 NaN
18           LK1       5     1     LK1(5,1)          18   55.540   0   0   1   0   1  120   0  119   1        2.0                             NaN                 NaN
19           LK1       5     1     LK1(5,1)          19   57.092   0   1   1   0   1  121   0  120   1        2.0                             NaN                 NaN
20           LK1       5     1     LK1(5,1)          20   58.940   0   0   1   0   1  132   0  131   1        2.0                             NaN                 NaN
21           NaN      10     9          NaN          21   68.734   0   0   0   0   1    0   0    0   0        1.0                             NaN                 NaN
22           NaN      10     9          NaN          22   68.734   0   0   0   0   1    0   0    0   0        1.0                             NaN                 NaN
23           NaN       9     1          NaN          23   86.176   0   0   0   0   0    0   0    0   0        1.0                             NaN                 NaN
24            L2       2     2      L2(2,2)          24   91.454   0   1   1   0   1    5   1    0   0        1.0                             NaN                 NaN
25           NaN      10     1          NaN          25   91.454   1   1   0   0  22    0   0    0   0       22.0                             NaN                 NaN
27          LED2       1     3    LED2(1,3)          27   91.455   1   1   1   0   2    0   0    0   0       22.0                             NaN                  on
28          LED1       1     2    LED1(1,2)          28   91.455   1   1   1   0   4    0   0    0   0       22.0                             NaN                  on
26          LED3       1     4    LED3(1,4)          26   91.455   1   1   1   0   2    0   0    0   0       22.0                             NaN                  on
29            L2       2     2      L2(2,2)          29   91.558   0   0   0   0   1    0   1    0   0       22.0                             NaN                 NaN
30           NaN      10     1          NaN          30   97.454   1   1   0   0  13    0   0    0   0       13.0                             NaN                 NaN
31          LED3       1     4    LED3(1,4)          31   97.454   0   0   0   0   2    0   0    0   0       13.0                             NaN                 !on
32          LED2       1     3    LED2(1,3)          32   97.454   0   0   0   0   2    0   0    0   0       13.0                             NaN                 !on
33          LED1       1     2    LED1(1,2)          33   97.454   0   0   0   0   4    0   0    0   0       13.0                             NaN                 !on
34           NaN      10     1          NaN          34   97.954   1   1   0   0   2    0   0    0   0        2.0                             NaN                 NaN
35          LED3       1     4    LED3(1,4)          35   97.954   0   0   0   0   2    0   0    0   0        2.0                             NaN                 !on
40          LED1       1     2    LED1(1,2)          40   98.631   1   1   1   0   5    0   0    0   0       22.0                             NaN                  on
39          LED2       1     3    LED2(1,3)          39   98.631   1   1   1   0   3    0   0    0   0       22.0                             NaN                  on
37           NaN      10     1          NaN          37   98.631   1   1   0   0  22    0   0    0   0       22.0                             NaN                 NaN
36            L2       2     2      L2(2,2)          36   98.631   0   1   1   0   2    5   2    0   0        2.0                             NaN                 NaN
38          LED3       1     4    LED3(1,4)          38   98.631   1   1   1   0   3    0   0    0   0       22.0                             NaN                  on
41            L2       2     2      L2(2,2)          41   98.701   0   0   0   0   2    0   2    0   0       22.0                             NaN                 NaN
42           NaN      10     1          NaN          42  104.631   1   1   0   0  13    0   0    0   0       13.0                             NaN                 NaN
43          LED3       1     4    LED3(1,4)          43  104.631   0   0   0   0   3    0   0    0   0       13.0                             NaN                 !on
44          LED2       1     3    LED2(1,3)          44  104.631   0   0   0   0   3    0   0    0   0       13.0                             NaN                 !on
45          LED1       1     2    LED1(1,2)          45  104.631   0   0   0   0   5    0   0    0   0       13.0                             NaN                 !on
47          LED3       1     4    LED3(1,4)          47  105.131   0   0   0   0   3    0   0    0   0        2.0                             NaN                 !on
46           NaN      10     1          NaN          46  105.131   1   1   0   0   2    0   0    0   0        2.0                             NaN                 NaN
48            L1       2     1      L1(2,1)          48  105.846   0   1   1   0   1    5   1    0   0        2.0                             NaN                 NaN
49           NaN      10     1          NaN          49  105.846   1   1   0   0  16    0   0    0   0       16.0                             NaN                 NaN
50          LED3       1     4    LED3(1,4)          50  105.847   1   1   1   0   4    0   0    0   0       16.0                             NaN                  on
51          LED2       1     3    LED2(1,3)          51  105.847   1   1   1   0   4    0   0    0   0       16.0                             NaN                  on
52          LED1       1     2    LED1(1,2)          52  105.847   1   1   1   0   6    0   0    0   0       16.0                             NaN                  on
53            L1       2     1      L1(2,1)          53  105.941   0   0   0   0   1    0   1    0   0       16.0                             NaN                 NaN
54            L1       2     1      L1(2,1)          54  109.149   0   1   1   0   2    5   2    0   0       16.0                             NaN                 NaN
55            L1       2     1      L1(2,1)          55  109.269   0   0   1   0   2    0   2    0   0       16.0                             NaN                 NaN
56            L1       2     1      L1(2,1)          56  109.725   0   1   2   0   3    5   3    0   0       16.0                             NaN                 NaN
57            L1       2     1      L1(2,1)          57  109.829   0   0   2   0   3    0   3    0   0       16.0                             NaN                 NaN
58            L1       2     1      L1(2,1)          58  110.269   0   1   3   0   4    5   4    0   0       16.0                             NaN                 NaN
59            L1       2     1      L1(2,1)          59  110.389   0   0   3   0   4    0   4    0   0       16.0                             NaN                 NaN
60            L1       2     1      L1(2,1)          60  111.229   0   1   4   0   5    5   5    0   0       16.0                             NaN                 NaN
61            L1       2     1      L1(2,1)          61  111.333   0   0   4   0   5    0   5    0   0       16.0                             NaN                 NaN
62           NaN      10     1          NaN          62  111.846   1   1   0   0  13    0   0    0   0       13.0                             NaN                 NaN
63          LED3       1     4    LED3(1,4)          63  111.846   0   0   0   0   4    0   0    0   0       13.0                             NaN                 !on
64          LED2       1     3    LED2(1,3)          64  111.846   0   0   0   0   4    0   0    0   0       13.0                             NaN                 !on
65          LED1       1     2    LED1(1,2)          65  111.846   0   0   0   0   6    0   0    0   0       13.0                             NaN                 !on
66            L1       2     1      L1(2,1)          66  112.341   0   1   1   0   6    5   6    0   0       13.0                             NaN                 NaN
67           NaN      10     1          NaN          67  112.346   1   1   0   0   2    0   0    0   0        2.0                             NaN                 NaN
68          LED3       1     4    LED3(1,4)          68  112.346   0   0   0   0   4    0   0    0   0        2.0                             NaN                 !on
69            L1       2     1      L1(2,1)          69  112.461   0   0   0   0   6    0   6    0   0        2.0                             NaN                 NaN
72          LED3       1     4    LED3(1,4)          72  112.965   1   1   1   0   5    0   0    0   0       16.0                             NaN                  on
73          LED2       1     3    LED2(1,3)          73  112.965   1   1   1   0   5    0   0    0   0       16.0                             NaN                  on
70            L1       2     1      L1(2,1)          70  112.965   0   1   1   0   7    5   7    0   0        2.0                             NaN                 NaN
71           NaN      10     1          NaN          71  112.965   1   1   0   0  16    0   0    0   0       16.0                             NaN                 NaN
74          LED1       1     2    LED1(1,2)          74  112.965   1   1   1   0   7    0   0    0   0       16.0                             NaN                  on
75            L1       2     1      L1(2,1)          75  113.101   0   0   0   0   7    0   7    0   0       16.0                             NaN                 NaN
76           NaN      10     1          NaN          76  118.965   1   1   0   0  13    0   0    0   0       13.0                             NaN                 NaN
77          LED3       1     4    LED3(1,4)          77  118.965   0   0   0   0   5    0   0    0   0       13.0                             NaN                 !on
78          LED2       1     3    LED2(1,3)          78  118.965   0   0   0   0   5    0   0    0   0       13.0                             NaN                 !on
79          LED1       1     2    LED1(1,2)          79  118.965   0   0   0   0   7    0   0    0   0       13.0                             NaN                 !on
80           NaN      10     1          NaN          80  119.465   1   1   0   0   2    0   0    0   0        2.0                             NaN                 NaN
81          LED3       1     4    LED3(1,4)          81  119.465   0   0   0   0   5    0   0    0   0        2.0                             NaN                 !on
82           NaN       9     1          NaN          82  131.347   0   0   0   0   1    0   1    2   1        2.0                             NaN                 NaN
83           NaN       9     0          NaN          83  131.347   0   0   0   0   1    0   1    2   1        2.0                             NaN                 NaN
84           NaN       9     1          NaN          84  132.741   0   0   0   0   2    0   1    1   1        2.0                             NaN                 NaN
85           NaN       9     1          NaN          85  134.229   0   0   0   0   3    0   1    1   1        2.0                             NaN                 NaN
86           NaN       9     1          NaN          86  135.557   0   0   0   0   4    0   1    1   1        2.0                             NaN                 NaN
87           NaN       9     1          NaN          87  136.709   0   0   0   0   5    0   1    1   1        2.0                             NaN                 NaN
88           NaN       9     1          NaN          88  137.309   0   0   0   0   6    0   1    2   1        2.0                             NaN                 NaN
89           NaN       9     1          NaN          89  138.629   0   0   0   0   7    0   1    2   1        2.0                             NaN                 NaN
90           NaN       9     1          NaN          90  139.789   0   0   0   0   8    0   1    2   1        2.0                             NaN                 NaN
91           NaN       9     1          NaN          91  140.189   0   0   0   0   9    0   1    1   1        2.0                             NaN                 NaN
92           NaN       9     1          NaN          92  142.278   0   0   0   0   9    0   0    0   0        2.0                             NaN                 NaN
93           NaN       9     1          NaN          93  144.278   1   0   0   0   9    0   0    0   0        2.0                             NaN                 NaN
94           PAD       6    22    PAD(6,22)          94  152.509   0   1   0   0   1    0   0    1   2        2.0                             NaN                 NaN
95           PAD       6    22    PAD(6,22)          95  152.893   0   0   0   0   1    0   0    1   0        2.0                             NaN                 NaN
96           PAD       6    22    PAD(6,22)          96  155.389   1   0   0   0   2    0   1    1   1        2.0                             NaN                 NaN
97           PAD       6    22    PAD(6,22)          97  162.325   1   1   1   0   3    1   1    2   3        2.0                             NaN                 NaN
98           NaN      10     1          NaN          98  162.325   1   1   0   0   3    0   0    0   0        3.0                             NaN                 NaN
99          LED3       1     4    LED3(1,4)          99  162.325   1   1   1   0   6    0   0    0   0        3.0                             NaN                  on
102         LED3       1     4    LED3(1,4)         102  162.629   0   0   0   0   6    0   0    0   0        2.0                             NaN                 !on
101          NaN      10     1          NaN         101  162.629   1   1   0   0   2    0   0    0   0        2.0                             NaN                 NaN
100          PAD       6    22    PAD(6,22)         100  162.629   1   0   0   0   3    1   1    2   1        3.0                             NaN                 NaN
103          PAD       6    22    PAD(6,22)         103  163.268   1   1   1   0   4    2   1    3   3        2.0                             NaN                 NaN
104          NaN      10     1          NaN         104  163.269   1   1   0   0   3    0   0    0   0        3.0                             NaN                 NaN
105         LED3       1     4    LED3(1,4)         105  163.269   1   1   1   0   7    0   0    0   0        3.0                             NaN                  on
106          NaN      10     1          NaN         106  164.281   1   1   0   0   4    0   0    0   0        4.0                             NaN                 NaN
107          NaN      10     1          NaN         107  164.290   1   1   0   0   5    0   0    0   0        5.0                             NaN                 NaN
112         LED3       1     4    LED3(1,4)         112  164.297   0   0   0   0   7    0   0    0   0        5.0                             NaN                 !on
111         ASND       6    20   ASND(6,20)         111  164.297   1   1   1   0   1    0   0    0   0        5.0  [50.0, 1.0, 1.0, 30.0, 1000.0]  on(50,1,1,30,1000)
113         LED1       1     2    LED1(1,2)         113  164.297   1   1   1   0   8    0   0    0   0        5.0                          [50.0]              on(50)
109        TTLP3      15     3  TTLP3(15,3)         109  164.297   1   1   1   0   1    0   0    0   0        5.0               [100.0, 1.0, 1.0]         on(100,1,1)
110        TTLP1      15     1  TTLP1(15,1)         110  164.297   1   1   1   0   1    0   0    0   0        5.0               [100.0, 1.0, 1.0]         on(100,1,1)
108        TTLP5      15     5  TTLP5(15,5)         108  164.297   1   1   1   0   1    0   0    0   0        5.0               [100.0, 1.0, 1.0]         on(100,1,1)
114         ASND       6    20   ASND(6,20)         114  164.347   0   0   1   0   1    0   0    0   0        5.0  [50.0, 1.0, 1.0, 30.0, 1000.0]  on(50,1,1,30,1000)
115         LED1       1     2    LED1(1,2)         115  164.347   0   0   1   0   8    0   0    0   0        5.0                          [50.0]              on(50)
116        TTLP5      15     5  TTLP5(15,5)         116  164.392   0   0   1   0   1    0   0    0   0        5.0               [100.0, 1.0, 1.0]         on(100,1,1)
117        TTLP3      15     3  TTLP3(15,3)         117  164.392   0   0   1   0   1    0   0    0   0        5.0               [100.0, 1.0, 1.0]         on(100,1,1)
118        TTLP1      15     1  TTLP1(15,1)         118  164.392   0   0   1   0   1    0   0    0   0        5.0               [100.0, 1.0, 1.0]         on(100,1,1)

In [8]:
info = yaml.safe_load(info_path.open("r"))
info

{'processing': [{'duplicate_over': {'channel_name': ['LED(\\d+)',
     'ASND',
     'TTLP(1|3|4|8)']},
   'event_name': '{channel_name}',
   'method': 'output_binary_wave',
   'method_params': {'filter_expr': 'channel_name=="{channel_name}"',
    'state_expr': '_P',
    'count_expr': '_L',
    'expected_count_expr': 'task[2].fillna(1)',
    'duration_on_expr': 'task[0]',
    'duration_off_expr': 'task[1].fillna(0)/1000'}},
  {'duplicate_over': {'channel_name': ['TTLP(2|5|6|7)']},
   'event_name': '{channel_name}',
   'method': 'input_binary_wave',
   'method_params': {'filter_expr': 'channel_name=="{channel_name}"',
    'state_expr': '_P'}},
  {'duplicate_over': {'channel_name': ['L(\\d+)']},
   'event_name': '{channel_name}',
   'method': 'input_binary_wave',
   'method_params': {'filter_expr': 'channel_name=="{channel_name}"',
    'state_expr': '_V'}},
  {'duplicate_over': {'side': ['_P', '_V']},
   'event_name': 'PAD{side}',
   'method': 'input_binary_wave',
   'method_params': {'filter_expr': 'channel_name=="PAD"',
    'state_expr': '{side}'}},
  {'duplicate_over': {'channel_name': ['LK(\\d+)']},
   'event_name': '{channel_name}_lick',
   'method': 'input_binary_wave',
   'method_params': {'filter_expr': 'channel_name=="{channel_name}"',
    'state_expr': '_V'}},
  {'duplicate_over': {'channel_name': ['LK(\\d+)']},
   'event_name': '{channel_name}_reward',
   'method': 'output_accumulator_binary_wave',
   'method_params': {'filter_expr': 'channel_name=="{channel_name}"',
    'state_expr': '_L',
    'duration_on_value': 0.2,
    'expected_count_expr': 'task[0].fillna(1)'}},
  {'event_name': 'polytask_linechange',
   'method': 'step_wave',
   'method_params': {'filter_expr': 'family==10', 'state_expr': '_T'}},
  {'event_name': 'zone_change',
   'method': 'step_wave',
   'method_params': {'filter_expr': 'family==9', 'state_expr': '_X'}},
  {'event_name': 'RD',
   'method': 'event',
   'method_params': {'filter_expr': 'channel_name=="RD"'},
   'metadata': {'read_value': '_T'}},
  {'event_name': 'pause',
   'method': 'event',
   'method_params': {'filter_expr': 'family==11'},
   'metadata': {'cause': '_V'}}],
 'display': {'rename': {'TTLP1': 'cue',
   'PAD_P': 'PAD_left',
   'PAD_V': 'PAD_right',
   'L1': 'LEVER_left',
   'L2': 'LEVER_right'}}}

In [9]:
event_spec = []

for item in info["processing"]:
    if "duplicate_over" not in item:
        item["duplicate_over"] = {}
    from helper import generate_duplicate_table, replace_vals
    duplication = generate_duplicate_table(item["duplicate_over"], dict(channel_name=channels["channel_name"]))
    for _, row in duplication.iterrows():
        final_d = replace_vals(item, row.to_dict())
        ev_name = final_d["event_name"]
        if "display" in info and "rename"in info["display"] and ev_name in info["display"]["rename"]:
            final_d["display_name"] = info["display"]["rename"][ev_name]
        else:
            final_d["display_name"] = ev_name
        del final_d["duplicate_over"]
        event_spec.append(final_d)

unique_df = pd.DataFrame(event_spec)["event_name"].value_counts().reset_index()
if not (unique_df["count"] == 1).all():
    display(unique_df.loc[unique_df["count"] > 1])
    raise Exception(f"Event name duplication")


display(pd.DataFrame(event_spec))
event_spec = {v["event_name"]: v for v in event_spec}

,event_name,method,method_params,display_name,metadata
0,LED1,output_binary_wave,"{'filter_expr': 'channel_name==""LED1""', 'state...",LED1,NaN
1,LED2,output_binary_wave,"{'filter_expr': 'channel_name==""LED2""', 'state...",LED2,NaN
2,LED3,output_binary_wave,"{'filter_expr': 'channel_name==""LED3""', 'state...",LED3,NaN
3,ASND,output_binary_wave,"{'filter_expr': 'channel_name==""ASND""', 'state...",ASND,NaN
4,TTLP1,output_binary_wave,"{'filter_expr': 'channel_name==""TTLP1""', 'stat...",cue,NaN
5,TTLP3,output_binary_wave,"{'filter_expr': 'channel_name==""TTLP3""', 'stat...",TTLP3,NaN
6,TTLP4,output_binary_wave,"{'filter_expr': 'channel_name==""TTLP4""', 'stat...",TTLP4,NaN
7,TTLP8,output_binary_wave,"{'filter_expr': 'channel_name==""TTLP8""', 'stat...",TTLP8,NaN
8,TTLP2,input_binary_wave,"{'filter_expr': 'channel_name==""TTLP2""', 'stat...",TTLP2,NaN
9,TTLP5,input_binary_wave,"{'filter_expr': 'channel_name==""TTLP5""', 'stat...",TTLP5,NaN
10,TTLP6,input_binary_wave,"{'filter_expr': 'channel_name==""TTLP6""', 'stat...",TTLP6,NaN
11,TTLP7,input_binary_wave,"{'filter_expr': 'channel_name==""TTLP7""', 'stat...",TTLP7,NaN
12,L1,input_binary_wave,"{'filter_expr': 'channel_name==""L1""', 'state_e...",LEVER_left,NaN
13,L2,input_binary_wave,"{'filter_expr': 'channel_name==""L2""', 'state_e...",LEVER_right,NaN
14,PAD_P,input_binary_wave,"{'filter_expr': 'channel_name==""PAD""', 'state_...",PAD_left,NaN
15,PAD_V,input_binary_wave,"{'filter_expr': 'channel_name==""PAD""', 'state_...",PAD_right,NaN
16,LK1_lick,input_binary_wave,"{'filter_expr': 'channel_name==""LK1""', 'state_...",LK1_lick,NaN
17,LK2_lick,input_binary_wave,"{'filter_expr': 'channel_name==""LK2""', 'state_...",LK2_lick,NaN
18,LK1_reward,output_accumulator_binary_wave,"{'filter_expr': 'channel_name==""LK1""', 'state_...",LK1_reward,NaN
19,LK2_reward,output_accumulator_binary_wave,"{'filter_expr': 'channel_name==""LK2""', 'state_...",LK2_reward,NaN
20,polytask_linechange,step_wave,"{'filter_expr': 'family==10', 'state_expr': '_T'}",polytask_linechange,NaN
21,zone_change,step_wave,"{'filter_expr': 'family==9', 'state_expr': '_X'}",zone_change,NaN
22,RD,event,"{'filter_expr': 'channel_name==""RD""'}",RD,{'read_value': '_T'}
23,pause,event,{'filter_expr': 'family==11'},pause,{'cause': '_V'}

In [10]:
event_channels_df = event_channels_df.sort_values(["t", "poly_evnum"])
event_channels_df["used"]=False
from ipywidgets import widgets
outs = {k: display(display_id=f'{k}') for k in event_spec}
def compute_relevant(config):
    df = pd.DataFrame()
    ev_name = config["event_name"]
    df["t"] = event_channels_df["t"]
    # df["task_params"] = event_channels_df["task_params"]
    df["task_data"] = event_channels_df["task_data"]
    df["task_node"] = event_channels_df["task_node"]
    task_expr_pattern = re.compile(r'task\[(?P<col_num>\d+)\]')
    for param, expr in config["method_params"].items():
        if param.endswith("_expr"):
            task_expr_df = pd.DataFrame()
            def handle_col(match):
                num = int(match["col_num"])
                name = f'__task_{num}'
                task_expr_df[name] = event_channels_df["task_params"].apply(lambda l: l[num] if isinstance(l, list) and len(l) > num else np.nan)
                return name
            new_expr=re.sub(task_expr_pattern, handle_col, expr)
            df[param.replace("_expr", "_value")] = pd.concat([event_channels_df, task_expr_df], axis=1).eval(new_expr)
        else:
            df[param] = expr
    if "metadata" in config:
        metadata = pd.DataFrame()
        for k, v in config["metadata"].items():
            metadata[k] = event_channels_df.eval(v)
        df["metadata"] = metadata.apply(lambda row: row.to_dict(), axis=1)
    else:
        df["metadata"] = [{}] * len(df.index)
    filtered = df.loc[df["filter_value"]] if "filter_expr" in config["method_params"] else df
    if "state_expr" in config["method_params"]:
        relevant = filtered.loc[filtered["state_value"] != filtered["state_value"].shift(1)].copy()
        relevant["duration"] = relevant["t"].shift(-1) - relevant["t"]
    else:
        relevant = filtered.copy()
    outs[config["event_name"]].update(relevant.rename_axis([ev_name]))
    return relevant

,t,task_data,task_node,filter_value,state_value,count_value,expected_count_value,duration_on_value,duration_off_value,metadata,duration
LED1,,,,,,,,,,,
28,91.455,on,22.0,True,1,1,1.0,NaN,0.0,{},5.999
33,97.454,!on,13.0,True,0,0,1.0,NaN,0.0,{},1.177
40,98.631,on,22.0,True,1,1,1.0,NaN,0.0,{},6.000
45,104.631,!on,13.0,True,0,0,1.0,NaN,0.0,{},1.216
52,105.847,on,16.0,True,1,1,1.0,NaN,0.0,{},5.999
65,111.846,!on,13.0,True,0,0,1.0,NaN,0.0,{},1.119
74,112.965,on,16.0,True,1,1,1.0,NaN,0.0,{},6.000
79,118.965,!on,13.0,True,0,0,1.0,NaN,0.0,{},45.332
113,164.297,on(50),5.0,True,1,1,1.0,50.0,0.0,{},0.050
115,164.347,on(50),5.0,True,0,1,1.0,50.0,0.0,{},1.943
122,166.290,on,12.0,True,1,1,1.0,NaN,0.0,{},6.000
128,172.290,!on,13.0,True,0,0,1.0,NaN,0.0,{},2.963
149,175.253,on,15.0,True,1,1,1.0,NaN,0.0,{},6.000
153,181.253,!on,13.0,True,0,0,1.0,NaN,0.0,{},2.712
175,183.965,on,21.0,True,1,1,1.0,NaN,0.0,{},6.000
181,189.965,!on,13.0,True,0,0,1.0,NaN,0.0,{},3.302
194,193.267,on(50),5.0,True,1,1,1.0,50.0,0.0,{},0.050
196,193.317,on(50),5.0,True,0,1,1.0,50.0,0.0,{},1.559
204,194.876,on,20.0,True,1,1,1.0,NaN,0.0,{},6.000
209,200.876,!on,13.0,True,0,0,1.0,NaN,0.0,{},22.251
222,223.127,on(50),5.0,True,1,1,1.0,50.0,0.0,{},0.049
224,223.176,on(50),5.0,True,0,1,1.0,50.0,0.0,{},0.436
232,223.612,on,20.0,True,1,1,1.0,NaN,0.0,{},6.000
236,229.612,!on,13.0,True,0,0,1.0,NaN,0.0,{},9.124
249,238.736,on(50),5.0,True,1,1,1.0,50.0,0.0,{},0.050
251,238.786,on(50),5.0,True,0,1,1.0,50.0,0.0,{},1.949
258,240.735,on,12.0,True,1,1,1.0,NaN,0.0,{},6.000
263,246.735,!on,13.0,True,0,0,1.0,NaN,0.0,{},27.708
285,274.443,on(50),5.0,True,1,1,1.0,50.0,0.0,{},0.050
287,274.493,on(50),5.0,True,0,1,1.0,50.0,0.0,{},3.706
297,278.199,on,17.0,True,1,1,1.0,NaN,0.0,{},6.000
301,284.199,!on,13.0,True,0,0,1.0,NaN,0.0,{},NaN

,t,task_data,task_node,filter_value,state_value,count_value,expected_count_value,duration_on_value,duration_off_value,metadata,duration
LED2,,,,,,,,,,,
27,91.455,on,22.0,True,1,1,1.0,NaN,0.0,{},5.999
32,97.454,!on,13.0,True,0,0,1.0,NaN,0.0,{},1.177
39,98.631,on,22.0,True,1,1,1.0,NaN,0.0,{},6.000
44,104.631,!on,13.0,True,0,0,1.0,NaN,0.0,{},1.216
51,105.847,on,16.0,True,1,1,1.0,NaN,0.0,{},5.999
64,111.846,!on,13.0,True,0,0,1.0,NaN,0.0,{},1.119
73,112.965,on,16.0,True,1,1,1.0,NaN,0.0,{},6.000
78,118.965,!on,13.0,True,0,0,1.0,NaN,0.0,{},47.325
121,166.290,on,12.0,True,1,1,1.0,NaN,0.0,{},6.000
127,172.290,!on,13.0,True,0,0,1.0,NaN,0.0,{},0.965
140,173.255,on(50),8.0,True,1,1,1.0,50.0,0.0,{},0.049
142,173.304,on(50),8.0,True,0,1,1.0,50.0,0.0,{},1.949
148,175.253,on,15.0,True,1,1,1.0,NaN,0.0,{},6.000
152,181.253,!on,13.0,True,0,0,1.0,NaN,0.0,{},1.639
165,182.892,on(50),8.0,True,1,1,1.0,50.0,0.0,{},0.050
167,182.942,on(50),8.0,True,0,1,1.0,50.0,0.0,{},1.023
174,183.965,on,21.0,True,1,1,1.0,NaN,0.0,{},6.000
180,189.965,!on,13.0,True,0,0,1.0,NaN,0.0,{},4.911
203,194.876,on,20.0,True,1,1,1.0,NaN,0.0,{},6.000
208,200.876,!on,13.0,True,0,0,1.0,NaN,0.0,{},22.736
231,223.612,on,20.0,True,1,1,1.0,NaN,0.0,{},6.000
235,229.612,!on,13.0,True,0,0,1.0,NaN,0.0,{},11.123
257,240.735,on,12.0,True,1,1,1.0,NaN,0.0,{},6.000
262,246.735,!on,13.0,True,0,0,1.0,NaN,0.0,{},31.464
296,278.199,on,17.0,True,1,1,1.0,NaN,0.0,{},6.000
300,284.199,!on,13.0,True,0,0,1.0,NaN,0.0,{},NaN

,t,task_data,task_node,filter_value,state_value,count_value,expected_count_value,duration_on_value,duration_off_value,metadata,duration
LED3,,,,,,,,,,,
2,0.023,!on,2.0,True,0,0,1.0,NaN,0.0,{},91.432
26,91.455,on,22.0,True,1,1,1.0,NaN,0.0,{},5.999
31,97.454,!on,13.0,True,0,0,1.0,NaN,0.0,{},1.177
38,98.631,on,22.0,True,1,1,1.0,NaN,0.0,{},6.000
43,104.631,!on,13.0,True,0,0,1.0,NaN,0.0,{},1.216
50,105.847,on,16.0,True,1,1,1.0,NaN,0.0,{},5.999
63,111.846,!on,13.0,True,0,0,1.0,NaN,0.0,{},1.119
72,112.965,on,16.0,True,1,1,1.0,NaN,0.0,{},6.000
77,118.965,!on,13.0,True,0,0,1.0,NaN,0.0,{},43.360
99,162.325,on,3.0,True,1,1,1.0,NaN,0.0,{},0.304
102,162.629,!on,2.0,True,0,0,1.0,NaN,0.0,{},0.640
105,163.269,on,3.0,True,1,1,1.0,NaN,0.0,{},1.028
112,164.297,!on,5.0,True,0,0,1.0,NaN,0.0,{},1.993
120,166.290,on,12.0,True,1,1,1.0,NaN,0.0,{},6.000
126,172.290,!on,13.0,True,0,0,1.0,NaN,0.0,{},0.500
132,172.790,on,3.0,True,1,1,1.0,NaN,0.0,{},0.465
139,173.255,!on,8.0,True,0,0,1.0,NaN,0.0,{},1.998
147,175.253,on,15.0,True,1,1,1.0,NaN,0.0,{},6.000
151,181.253,!on,13.0,True,0,0,1.0,NaN,0.0,{},0.500
157,181.753,on,3.0,True,1,1,1.0,NaN,0.0,{},1.139
164,182.892,!on,8.0,True,0,0,1.0,NaN,0.0,{},1.073
173,183.965,on,21.0,True,1,1,1.0,NaN,0.0,{},6.000
179,189.965,!on,13.0,True,0,0,1.0,NaN,0.0,{},2.255
186,192.220,on,3.0,True,1,1,1.0,NaN,0.0,{},1.047
193,193.267,!on,5.0,True,0,0,1.0,NaN,0.0,{},1.609
202,194.876,on,20.0,True,1,1,1.0,NaN,0.0,{},6.000
207,200.876,!on,13.0,True,0,0,1.0,NaN,0.0,{},21.165
214,222.041,on,3.0,True,1,1,1.0,NaN,0.0,{},1.085
221,223.126,!on,5.0,True,0,0,1.0,NaN,0.0,{},0.486
230,223.612,on,20.0,True,1,1,1.0,NaN,0.0,{},6.000
234,229.612,!on,13.0,True,0,0,1.0,NaN,0.0,{},8.168
241,237.780,on,3.0,True,1,1,1.0,NaN,0.0,{},0.956
248,238.736,!on,5.0,True,0,0,1.0,NaN,0.0,{},1.999
256,240.735,on,12.0,True,1,1,1.0,NaN,0.0,{},6.000
261,246.735,!on,13.0,True,0,0,1.0,NaN,0.0,{},15.652
269,262.387,on,3.0,True,1,1,1.0,NaN,0.0,{},0.816
272,263.203,!on,2.0,True,0,0,1.0,NaN,0.0,{},10.096
277,273.299,on,3.0,True,1,1,1.0,NaN,0.0,{},1.144
284,274.443,!on,5.0,True,0,0,1.0,NaN,0.0,{},3.756
295,278.199,on,17.0,True,1,1,1.0,NaN,0.0,{},6.000
299,284.199,!on,13.0,True,0,0,1.0,NaN,0.0,{},NaN

,t,task_data,task_node,filter_value,state_value,count_value,expected_count_value,duration_on_value,duration_off_value,metadata,duration
ASND,,,,,,,,,,,
111,164.297,"on(50,1,1,30,1000)",5.0,True,1,1,1.0,50.0,0.001,{},0.050
114,164.347,"on(50,1,1,30,1000)",5.0,True,0,1,1.0,50.0,0.001,{},8.908
138,173.255,"on(50,1,1,30,5000)",8.0,True,1,1,1.0,50.0,0.001,{},0.049
141,173.304,"on(50,1,1,30,5000)",8.0,True,0,1,1.0,50.0,0.001,{},9.588
163,182.892,"on(50,1,1,30,5000)",8.0,True,1,1,1.0,50.0,0.001,{},0.050
166,182.942,"on(50,1,1,30,5000)",8.0,True,0,1,1.0,50.0,0.001,{},10.325
192,193.267,"on(50,1,1,30,1000)",5.0,True,1,1,1.0,50.0,0.001,{},0.050
195,193.317,"on(50,1,1,30,1000)",5.0,True,0,1,1.0,50.0,0.001,{},29.809
220,223.126,"on(50,1,1,30,1000)",5.0,True,1,1,1.0,50.0,0.001,{},0.050
223,223.176,"on(50,1,1,30,1000)",5.0,True,0,1,1.0,50.0,0.001,{},15.560
247,238.736,"on(50,1,1,30,1000)",5.0,True,1,1,1.0,50.0,0.001,{},0.050
250,238.786,"on(50,1,1,30,1000)",5.0,True,0,1,1.0,50.0,0.001,{},35.657
283,274.443,"on(50,1,1,30,1000)",5.0,True,1,1,1.0,50.0,0.001,{},0.050
286,274.493,"on(50,1,1,30,1000)",5.0,True,0,1,1.0,50.0,0.001,{},NaN

,t,task_data,task_node,filter_value,state_value,count_value,expected_count_value,duration_on_value,duration_off_value,metadata,duration
TTLP1,,,,,,,,,,,
110,164.297,"on(100,1,1)",5.0,True,1,1,1.0,100.0,0.001,{},0.095
118,164.392,"on(100,1,1)",5.0,True,0,1,1.0,100.0,0.001,{},8.863
137,173.255,"on(100,1,1)",8.0,True,1,1,1.0,100.0,0.001,{},0.100
143,173.355,"on(100,1,1)",8.0,True,0,1,1.0,100.0,0.001,{},9.537
162,182.892,"on(100,1,1)",8.0,True,1,1,1.0,100.0,0.001,{},0.101
168,182.993,"on(100,1,1)",8.0,True,0,1,1.0,100.0,0.001,{},10.274
191,193.267,"on(100,1,1)",5.0,True,1,1,1.0,100.0,0.001,{},0.101
199,193.368,"on(100,1,1)",5.0,True,0,1,1.0,100.0,0.001,{},29.758
219,223.126,"on(100,1,1)",5.0,True,1,1,1.0,100.0,0.001,{},0.101
227,223.227,"on(100,1,1)",5.0,True,0,1,1.0,100.0,0.001,{},15.509
246,238.736,"on(100,1,1)",5.0,True,1,1,1.0,100.0,0.001,{},0.101
254,238.837,"on(100,1,1)",5.0,True,0,1,1.0,100.0,0.001,{},35.606
282,274.443,"on(100,1,1)",5.0,True,1,1,1.0,100.0,0.001,{},0.101
290,274.544,"on(100,1,1)",5.0,True,0,1,1.0,100.0,0.001,{},NaN

,t,task_data,task_node,filter_value,state_value,count_value,expected_count_value,duration_on_value,duration_off_value,metadata,duration
TTLP3,,,,,,,,,,,
109,164.297,"on(100,1,1)",5.0,True,1,1,1.0,100.0,0.001,{},0.095
117,164.392,"on(100,1,1)",5.0,True,0,1,1.0,100.0,0.001,{},8.863
136,173.255,"on(50,50,2)",8.0,True,1,1,2.0,50.0,0.050,{},0.150
145,173.405,"on(50,50,2)",8.0,True,0,2,2.0,50.0,0.050,{},9.487
161,182.892,"on(50,50,2)",8.0,True,1,1,2.0,50.0,0.050,{},0.151
170,183.043,"on(50,50,2)",8.0,True,0,2,2.0,50.0,0.050,{},10.224
190,193.267,"on(100,1,1)",5.0,True,1,1,1.0,100.0,0.001,{},0.101
198,193.368,"on(100,1,1)",5.0,True,0,1,1.0,100.0,0.001,{},29.758
218,223.126,"on(100,1,1)",5.0,True,1,1,1.0,100.0,0.001,{},0.101
226,223.227,"on(100,1,1)",5.0,True,0,1,1.0,100.0,0.001,{},15.509
245,238.736,"on(100,1,1)",5.0,True,1,1,1.0,100.0,0.001,{},0.101
253,238.837,"on(100,1,1)",5.0,True,0,1,1.0,100.0,0.001,{},35.606
281,274.443,"on(100,1,1)",5.0,True,1,1,1.0,100.0,0.001,{},0.101
289,274.544,"on(100,1,1)",5.0,True,0,1,1.0,100.0,0.001,{},NaN

Empty DataFrame
Columns: [t, task_data, task_node, filter_value, state_value, count_value, expected_count_value, duration_on_value, duration_off_value, metadata, duration]
Index: []

Empty DataFrame
Columns: [t, task_data, task_node, filter_value, state_value, count_value, expected_count_value, duration_on_value, duration_off_value, metadata, duration]
Index: []

Empty DataFrame
Columns: [t, task_data, task_node, filter_value, state_value, metadata, duration]
Index: []

,t,task_data,task_node,filter_value,state_value,metadata,duration
TTLP5,,,,,,,
108,164.297,"on(100,1,1)",5.0,True,1,{},0.095
116,164.392,"on(100,1,1)",5.0,True,0,{},8.863
135,173.255,"on(50,50,2)",8.0,True,1,{},0.150
144,173.405,"on(50,50,2)",8.0,True,0,{},9.487
160,182.892,"on(50,50,2)",8.0,True,1,{},0.151
169,183.043,"on(50,50,2)",8.0,True,0,{},10.224
189,193.267,"on(100,1,1)",5.0,True,1,{},0.101
197,193.368,"on(100,1,1)",5.0,True,0,{},29.758
217,223.126,"on(100,1,1)",5.0,True,1,{},0.101
225,223.227,"on(100,1,1)",5.0,True,0,{},15.509
244,238.736,"on(100,1,1)",5.0,True,1,{},0.101
252,238.837,"on(100,1,1)",5.0,True,0,{},35.606
280,274.443,"on(100,1,1)",5.0,True,1,{},0.101
288,274.544,"on(100,1,1)",5.0,True,0,{},NaN

Empty DataFrame
Columns: [t, task_data, task_node, filter_value, state_value, metadata, duration]
Index: []

Empty DataFrame
Columns: [t, task_data, task_node, filter_value, state_value, metadata, duration]
Index: []

          t task_data  task_node  filter_value  state_value metadata  duration
L1
48  105.846       NaN        2.0          True            1       {}     0.095
53  105.941       NaN       16.0          True            0       {}     3.208
54  109.149       NaN       16.0          True            1       {}     0.120
55  109.269       NaN       16.0          True            0       {}     0.456
56  109.725       NaN       16.0          True            1       {}     0.104
57  109.829       NaN       16.0          True            0       {}     0.440
58  110.269       NaN       16.0          True            1       {}     0.120
59  110.389       NaN       16.0          True            0       {}     0.840
60  111.229       NaN       16.0          True            1       {}     0.104
61  111.333       NaN       16.0          True            0       {}     1.008
66  112.341       NaN       13.0          True            1       {}     0.120
69  112.461       NaN        2.0          True            0       {}     0.504
70  112.965       NaN        2.0          True            1       {}     0.136
75  113.101       NaN       16.0          True            0       {}       NaN

,t,task_data,task_node,filter_value,state_value,metadata,duration
L2,,,,,,,
24,91.454,NaN,1.0,True,1,{},0.104
29,91.558,NaN,22.0,True,0,{},7.073
36,98.631,NaN,2.0,True,1,{},0.070
41,98.701,NaN,22.0,True,0,{},67.662
123,166.363,NaN,12.0,True,1,{},0.042
124,166.405,NaN,12.0,True,0,{},NaN

,t,task_data,task_node,filter_value,state_value,metadata,duration
PAD_P,,,,,,,
94,152.509,NaN,2.0,True,0,{},2.880
96,155.389,NaN,2.0,True,1,{},28.576
171,183.965,NaN,8.0,True,0,{},2.272
176,186.237,NaN,21.0,True,1,{},78.671
273,264.908,NaN,2.0,True,0,{},3.616
274,268.524,NaN,2.0,True,1,{},6.175
291,274.699,NaN,5.0,True,0,{},NaN

,t,task_data,task_node,filter_value,state_value,metadata,duration
PAD_V,,,,,,,
94,152.509,NaN,2.0,True,1,{},0.384
95,152.893,NaN,2.0,True,0,{},9.432
97,162.325,NaN,2.0,True,1,{},0.304
100,162.629,NaN,3.0,True,0,{},0.639
103,163.268,NaN,2.0,True,1,{},20.697
171,183.965,NaN,8.0,True,0,{},2.272
176,186.237,NaN,21.0,True,1,{},1.823
177,188.060,NaN,21.0,True,0,{},4.160
184,192.220,NaN,2.0,True,1,{},2.656
200,194.876,NaN,5.0,True,0,{},27.164
212,222.040,NaN,2.0,True,1,{},1.572
228,223.612,NaN,5.0,True,0,{},14.168
239,237.780,NaN,2.0,True,1,{},5.616
259,243.396,NaN,12.0,True,0,{},18.991
267,262.387,NaN,2.0,True,1,{},0.816
270,263.203,NaN,3.0,True,0,{},10.096
275,273.299,NaN,2.0,True,1,{},1.632
293,274.931,NaN,6.0,True,0,{},NaN

,t,task_data,task_node,filter_value,state_value,metadata,duration
LK1_lick,,,,,,,
3,14.534,NaN,2.0,True,0,{},5.358
4,19.892,NaN,2.0,True,1,{},1.697
6,21.589,NaN,2.0,True,0,{},1.144
7,22.733,NaN,2.0,True,1,{},3.711
8,26.444,NaN,2.0,True,0,{},2.112
9,28.556,NaN,2.0,True,1,{},4.241
10,32.797,NaN,2.0,True,0,{},2.720
11,35.517,NaN,2.0,True,1,{},2.583
12,38.100,NaN,2.0,True,0,{},5.016
13,43.116,NaN,2.0,True,1,{},1.960
14,45.076,NaN,2.0,True,0,{},4.024
15,49.100,NaN,2.0,True,1,{},2.160
16,51.260,NaN,2.0,True,0,{},2.200
17,53.460,NaN,2.0,True,1,{},2.080
18,55.540,NaN,2.0,True,0,{},1.552
19,57.092,NaN,2.0,True,1,{},1.848
20,58.940,NaN,2.0,True,0,{},NaN

Empty DataFrame
Columns: [t, task_data, task_node, filter_value, state_value, metadata, duration]
Index: []

,t,task_data,task_node,filter_value,state_value,duration_on_value,expected_count_value,metadata,duration
LK1_reward,,,,,,,,,
3,14.534,NaN,2.0,True,1,0.2,1.0,{},NaN

Empty DataFrame
Columns: [t, task_data, task_node, filter_value, state_value, duration_on_value, expected_count_value, metadata, duration]
Index: []

,t,task_data,task_node,filter_value,state_value,metadata,duration
polytask_linechange,,,,,,,
0,0.007,NaN,1.0,True,1,{},0.015
1,0.022,NaN,2.0,True,2,{},68.712
21,68.734,NaN,1.0,True,1,{},22.720
25,91.454,NaN,22.0,True,22,{},6.000
30,97.454,NaN,13.0,True,13,{},0.500
...,...,...,...,...,...,...,...
279,274.442,NaN,5.0,True,5,{},0.257
292,274.699,NaN,6.0,True,6,{},3.500
294,278.199,NaN,17.0,True,17,{},6.000
298,284.199,NaN,13.0,True,13,{},0.500
302,284.699,NaN,2.0,True,2,{},NaN

,t,task_data,task_node,filter_value,state_value,metadata,duration
zone_change,,,,,,,
23,86.176,NaN,1.0,True,0,{},45.171
82,131.347,NaN,2.0,True,1,{},10.931
92,142.278,NaN,2.0,True,0,{},NaN

Empty DataFrame
Columns: [t, task_data, task_node, filter_value, metadata]
Index: []

             t task_data  task_node  filter_value      metadata
pause
304    291.188       NaN        2.0          True  {'cause': 1}

In [11]:

def compute_metadata(join_metadata, **warnings):
    kept_warnings = {}
    for k, v in warnings.items():
        vals = {v for v in v.values() if not pd.isna(v)}
        
        if len(vals) > 1:
            kept_warnings[k] = v
    if len(kept_warnings) > 0:
        metadata = json_merge(*join_metadata, dict(warnings=kept_warnings))
    else:
        metadata = json_merge(*join_metadata)
    return metadata


def output_accumulator_binary_wave(relevant: pd.DataFrame, config):
    res = []
    for _,grp in  relevant.groupby((relevant["state_value"] ==1).cumsum()):
        starts = grp[grp["state_value"]==1]
        if len(starts.index) ==0: continue
        elif len(starts.index) > 1: display(grp); raise Exception(f"Problem {len(starts.index)}")
        else:
            start = starts["t"].iat[0]
            rises = [0] + (grp["t"].loc[grp["state_value"] > grp["state_value"].shift(1)] -start).to_list()
            duration_on = grp["duration_on_value"].iat[0]
            expected_count = grp["expected_count_value"].iat[0]
            duration = rises[-1] + duration_on
            metadata = compute_metadata(grp["metadata"], count_mismatch=dict(read=len(rises), expected=expected_count))
            res.append(dict(t=start, metadata=metadata, duration=duration, waveform_info=
                dict(type="binary", rises=rises, durations=[duration_on]*len(rises), change_speed=0.0001)))
    return pd.DataFrame(res)

def input_binary_wave(relevant: pd.DataFrame, config):
    if relevant["state_value"].iat[0] == 0:
        relevant = relevant.iloc[1:, :].copy()
    relevant["next_metadata"] = relevant["metadata"].shift(-1)
    rises = relevant.iloc[::2].copy()
    rises["metadata"] = rises.apply(lambda row: compute_metadata(
        [row["metadata"], row["next_metadata"]]), axis=1)
    return rises[["t", "duration", "metadata"]].assign(waveform_info=rises["duration"].apply(lambda d: 
        dict(type="binary", rises=[0], durations=[d], base_value=0, event_value=1, change_speed=0.0001)))
    

def output_binary_wave(relevant: pd.DataFrame, config):
    if relevant["state_value"].iat[0] == 0:
        relevant = relevant.iloc[1:, :].copy()
    relevant["next_metadata"] = relevant["metadata"].shift(-1)
    relevant["count_value"] = relevant["count_value"].shift(-1).replace(0,1)
    rises = relevant.iloc[::2].copy()

    rises["read_duration"] = rises["duration"]
    rises["duration"] = np.where(
        (rises["duration"] <= 0.001) & rises["duration_on_value"].notna(), 
        rises["duration_on_value"], rises["duration"])
    
    # rises["duration"] = rises["duration"].fillna(-1)
    rises["cycle_duration"] = rises["duration_on_value"] + rises["duration_off_value"]
    rises["rises"] = rises.apply(lambda row: [i * row["cycle_duration"] for i in range(int(row["count_value"]))] if not pd.isna(row["count_value"]) else np.nan, axis=1)
    # rises["duration"] = np.where(rises["duration"]>=0, rises["duration"], np.nan)
    # display(rises)
    rises["metadata"] = rises.apply(lambda row: compute_metadata(
        [row["metadata"], row["next_metadata"]], 
        count_mismatch=dict(read=row["count_value"], expected=row["expected_count_value"]),
        duration_correction=dict(read=row["read_duration"], corrected=row["duration"] if row["duration"] >=0 else np.nan)
    ), axis=1)
    
    rises["waveform_info"] = rises.apply(lambda row: 
        dict(type="binary", rises=row["rises"], durations=[row["duration_on_value"]]* len(row["rises"]), base_value=0, event_value=1, change_speed=0.0001), axis=1)
    return rises[["t","metadata", "duration", "waveform_info"]].copy()

In [12]:



all = []
for ev_name, item in event_spec.items():
    relevant = compute_relevant(item)
    if len(relevant.index) ==0:
        continue
    if item["method"] == "output_accumulator_binary_wave":
        events = output_accumulator_binary_wave(relevant, item)
    elif item["method"] == "input_binary_wave":
        events = input_binary_wave(relevant, item)
    elif item["method"] == "output_binary_wave":
        events = output_binary_wave(relevant, item)
    elif item["method"]=="step_wave":
        events = relevant.assign(curr_value= relevant["state_value"], prev_value=relevant["state_value"].shift(1), next_value=relevant["state_value"].shift(-1))
        events["waveform_info"] = events[["curr_value", "prev_value", "next_value"]].apply(lambda row: row.to_dict(), axis=1)
        events = events[["t","metadata", "duration", "waveform_info"]]
    elif item["method"]=="event":
        events = relevant[["t", "metadata"]].assign(duration=np.nan, waveform_info=None)
    if len(events.index)!=0:
        all.append(events[[c for c in events.columns if events[c].count() > 0]].assign(event_name=ev_name))
all = pd.concat(all).sort_values("t")
display(all)

,t,metadata,duration,waveform_info,event_name
0,0.007,{},0.015,"{'curr_value': 1.0, 'prev_value': nan, 'next_v...",polytask_linechange
1,0.022,{},68.712,"{'curr_value': 2.0, 'prev_value': 1.0, 'next_v...",polytask_linechange
0,14.534,{},0.200,"{'type': 'binary', 'rises': [0], 'durations': ...",LK1_reward
4,19.892,{},1.697,"{'type': 'binary', 'rises': [0], 'durations': ...",LK1_lick
7,22.733,{},3.711,"{'type': 'binary', 'rises': [0], 'durations': ...",LK1_lick
...,...,...,...,...,...
295,278.199,{},6.000,"{'type': 'binary', 'rises': [nan], 'durations'...",LED3
294,278.199,{},6.000,"{'curr_value': 17.0, 'prev_value': 6.0, 'next_...",polytask_linechange
298,284.199,{},0.500,"{'curr_value': 13.0, 'prev_value': 17.0, 'next...",polytask_linechange
302,284.699,{},NaN,"{'curr_value': 2.0, 'prev_value': 13.0, 'next_...",polytask_linechange
304,291.188,{'cause': 1},NaN,NaN,pause

In [13]:
if "display" in info and "rename" in info["display"]:
    all["event_name"] = all["event_name"].map(lambda e: info["display"]["rename"][e] if e in info["display"]["rename"] else e)

In [15]:

all["metadata_json"] = all["metadata"].apply(lambda d: json.dumps(d) if not pd.isna(d) else "{}")
all["waveform_info_json"] = all["waveform_info"].apply(lambda d: json.dumps(d) if not pd.isna(d) else "{}")

all.drop(columns=["waveform_info", "metadata"]).to_csv(res_events_path, sep="\t", index=False)

In [16]:
reloaded = pd.read_csv(res_events_path, sep="\t", index_col=False)
reloaded["metadata"] = reloaded["metadata_json"].apply(lambda s: json.loads(s))
reloaded["waveform_info"] = reloaded["waveform_info_json"].apply(lambda s: json.loads(s))
reloaded.drop(columns=["waveform_info_json", "metadata_json"])

,t,duration,event_name,metadata,waveform_info
0,0.007,0.015,polytask_linechange,{},"{'curr_value': 1.0, 'prev_value': nan, 'next_v..."
1,0.022,68.712,polytask_linechange,{},"{'curr_value': 2.0, 'prev_value': 1.0, 'next_v..."
2,14.534,0.200,LK1_reward,{},"{'type': 'binary', 'rises': [0], 'durations': ..."
3,19.892,1.697,LK1_lick,{},"{'type': 'binary', 'rises': [0], 'durations': ..."
4,22.733,3.711,LK1_lick,{},"{'type': 'binary', 'rises': [0], 'durations': ..."
...,...,...,...,...,...
169,278.199,6.000,LED3,{},"{'type': 'binary', 'rises': [nan], 'durations'..."
170,278.199,6.000,polytask_linechange,{},"{'curr_value': 17.0, 'prev_value': 6.0, 'next_..."
171,284.199,0.500,polytask_linechange,{},"{'curr_value': 13.0, 'prev_value': 17.0, 'next..."
172,284.699,NaN,polytask_linechange,{},"{'curr_value': 2.0, 'prev_value': 13.0, 'next_..."
173,291.188,NaN,pause,{'cause': 1},{}